body {
    color: #111;
    background-color: #F3F6F1;
}

@media (min-width: 576px) {
    .uf-contact-form-03 {
        min-height: 100vh;
        align-content: center;
    }
}

.uf-cf-03-main {
    max-width: 450px;
}

.uf-ct-03-img {
    max-width: 350px;
    width: 100%;
}

.uf-contact-form-03-body {
    position: relative;
}

.uf-ct-03-text-primary {
    color: #99cf25;
}

.uf-ct-03-bg-primary {
    background-color: #99cf25;
}

.uf-ct-03-btn-primary {
    background-color: #99cf25;
    color: #111;
}

.uf-ct-03-btn-primary:hover {
    background-color: #111;
    color: #fff;
}

.uf-ct-03-input-group-text {
    min-width: 44px;
}

.form-control {
    padding: 0.75rem;
}

.form-control:focus {
    border-color: #99cf25;
    box-shadow: unset;
    background-color: #efefef;
}